.technology {
    background-image: url(../../assets/technology/background-technology-mobile.jpg);

    @media screen and (min-width: 768px) {
        background-image: url(../../assets/technology/background-technology-tablet.jpg);
    }

    @media screen and (min-width: 1440px) {
        background-image: url(../../assets/technology/background-technology-desktop.jpg);
    }

    .content {

        @media screen and (min-width: 1440px) {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            padding-left: 10rem;
            padding-top: 8rem;
            align-items: center;
            gap: 5rem;
            text-align: left;

            .links {
                order: 1;
                flex-direction: column;
            }

            .info {
                flex-basis: 50%;
            }
        }

    }

    .image {
        width: 100%;

        margin: 2rem auto 0;

        @media screen and (min-width: 768px) {
            margin: 4rem 0 1rem;
        }
    }


    .links {
        margin: 2rem 0 1.5rem;
        display: flex;
        gap: 1rem;
        justify-content: center;



        &__link {
            width: 40px;
            height: 40px;

            @media screen and (min-width: 768px) {
                width: 60px;
                height: 60px;
                font-size: 1.5rem;
            }

            @media screen and (min-width: 768px) {
                width: 80px;
                height: 80px;
                font-size: 2rem;
            }

            border-radius: 5rem;
            background-color: white;

            text-align: center;

            display: flex;
            align-items: center;
            justify-content: center;

            &:not(.active) {
                color: var(--white);
                background-color: unset;
                border: 1px solid rgba(255, 255, 255, 0.25);

            }

            &.active {
                color: var(--dark);
                opacity: 1;
                background-color: var(--white);
            }

            &:hover {
                border-color: var(--white);
                cursor: pointer;
            }
        }
    }

    .subtitle {
        letter-spacing: 2.36px;
        line-height: 1.5rem;

        @media screen and (min-width: 768px) {
            line-height: 2.5rem;
        }

    }

    .name {
        font-family: 'Bellefair', serif;
        text-transform: uppercase;
        margin-bottom: 1rem;
        font-size: 1.5rem;
        color: var(--white);

        @media screen and (min-width: 768px) {
            font-size: 2.5rem;
        }

    }
}