.home {
    background-image: url('../../assets/home/background-home-mobile.jpg');
    
    display: flex;
    flex-direction: column;

    .title {
        color: var(--light);

        text-transform: uppercase;

        font-weight: 200;
        font-size: 1rem;

        letter-spacing: 2.7px;

        margin-top: 1rem;

        text-align: center;


        b {
            font-family: 'Bellefair', serif;
            display: inline-block;
            padding: 1rem 0;
            color: var(--white);
            font-size: 5rem;
        }
    }

    .link {
        margin: auto;
        margin-bottom: 0;



        .button {

            height: 150px;
            width: 150px;

            background-color: var(--white);
            border-radius: 5rem;

            display: flex;
            justify-content: center;
            align-items: center;


            text-decoration: none;

            span {
                text-transform: uppercase;
                font-family: 'Bellefair', serif;
                color: var(--dark);
                letter-spacing: 1.25px;
                font-size: 1.25rem;

            }
        }

    }
}



/*
    font-family: 'Bellefair', serif;
    */