.home {
    background-image: url('../../assets/home/background-home-mobile.jpg');

    @media screen and (min-width: 768px) {
        background-image: url(../../assets/home/background-home-tablet.jpg);

    }

    @media screen and (min-width: 1440px) {
        background-image: url(../../assets/home/background-home-desktop.jpg);

        flex-direction: row;
        align-items: end;
    }

    display: flex;
    flex-direction: column;

    .content {

        @media screen and (min-width: 1440px) {
            padding: 8rem;
            text-align: start;
        }


        .titleHome {
            color: var(--light);
            text-transform: uppercase;
            font-weight: 200;
            font-size: 1rem;
            letter-spacing: 2.7px;
            margin-top: 1rem;

            @media screen and (min-width: 768px) {
                font-size: 1.25rem;
                margin-top: 4.5rem;
            }






            b {
                font-family: 'Bellefair', serif;
                display: inline-block;
                padding: 1rem 0;
                color: var(--white);
                font-size: 5rem;

                @media screen and (min-width: 768px) {
                    font-size: 9.375rem;
                }
            }
        }
    }


    .link {
        margin: auto;
        margin-bottom: 0;
        margin-bottom: 3rem;

        @media screen and (min-width: 768px) {
            margin-bottom: 5.625rem;
        }

        @media screen and (min-width: 1440px) {
            margin-right: 10rem;
            margin-bottom: 8rem;
        }

        .button {

            height: 150px;
            width: 150px;

            background-color: var(--white);
            border-radius: 25rem;

            display: flex;
            justify-content: center;
            align-items: center;


            text-decoration: none;

            @media screen and (min-width: 768px) {
                height: 242px;
                width: 242px;
            }

            span {
                text-transform: uppercase;
                font-family: 'Bellefair', serif;
                color: var(--dark);
                letter-spacing: 1.25px;
                font-size: 1.25rem;

                @media screen and (min-width: 768px) {
                    font-size: 2rem;
                }

            }
        }

    }
}



/*
    font-family: 'Bellefair', serif;
    */