.home {
    background-image: url('../../assets/home/background-home-mobile.jpg');

    .title {
        color: var(--light);

        text-transform: uppercase;

        font-weight: 200;
        font-size: 1rem;

        letter-spacing: 2.7px;

        margin-top: 1rem;


        text-align: center;


        b {
            font-family: 'Bellefair', serif;
            display: inline-block;
            padding: 1rem 0;
            color: var(--white);
            font-size: 5rem;
        }
    }


    .explore {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        padding-bottom: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;

        .button {
            height: 150px;
            width: 150px;
            text-align: center;
            background-color: var(--white);
            margin: 0 auto;
            display: inline-block;
            border-radius: 5rem;

            display: flex;
            justify-content: center;
            align-items: center;

            text-decoration: none;


            span {
                text-transform: uppercase;
                font-family: 'Bellefair', serif;
                color: var(--dark);
                letter-spacing: 1.25px;
                font-size: 1.25rem;

            }
        }
    }
}

/*
font-family: 'Bellefair', serif;
*/