.header {
    display: flex;
    align-items: center;
    padding: 1.5rem;
    justify-content: space-between;
    position: absolute;
    width: 100%;

    .logo {
        height: 2.5rem;
    }

    .menu {
        margin: auto 0;
    }
}