:root {
    --dark: #0B0D17;
    --light: #D0D6F9;
    --white: #FFFFFF
}

* {
    font-family: 'Barlow Condensed', sans-serif;
    color: var(--light);
}

.app>*:not(header) {
    height: 100vh;
    padding: 1.5rem;
    padding-bottom: 3rem;
    padding-top: 6rem;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    text-align: center;
    line-height: 1.5rem;
}